/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@400;600;700;800&family=Work+Sans:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 5rem;
  --font-semi: 600;
  /*===== Colores =====*/
  --first-clr: #d31f20;
  --second: #fff;
  --body-bg: #033073;
  /*===== Fuente y tipografia =====*/
  --body-font: "Raleway", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.875rem;
  }
}
/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second);
  background-color: var(--body-bg);
  overflow-x: hidden !important;
  min-height: 100vh;
  width: 100%;
  height: auto;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

::-moz-selection {
  background-color: var(--first-clr);
  color: var(--second-color);
}

::selection {
  background-color: var(--first-clr);
  color: var(--second-color);
}

/*===== CLASS CSS ===== */
a.buy-btn {
  padding: 15px 32px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(9, 50, 67, 0.16);
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #0f1375;
  display: block;
  width: -moz-max-content;
  width: max-content;
  text-transform: capitalize;
}

header {
  width: 100%;
  padding-block: 5px;
  z-index: 100;
  position: fixed;
}
header nav .nav-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
header nav ul.nav-ul {
  transition: 0.1s all linear;
  z-index: 90;
}
header nav ul.nav-ul a {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
header nav .display-ul {
  bottom: -95vh !important;
}
@media (max-width: 767px) {
  header nav .nav-logo {
    font-size: 20px;
    line-height: 23px;
  }
  header nav ul.nav-ul {
    position: absolute;
    height: 90vh;
    width: 100%;
    flex-direction: column;
    background: var(--body-bg);
    left: 0;
    bottom: 100vh;
  }
  header nav ul.nav-ul li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  header nav a.buy-btn {
    display: none;
  }
}
header nav a.buy-btn {
  padding: 15px 32px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(9, 50, 67, 0.16);
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #0f1375;
}
header nav i {
  transition: transform 0.3s linear;
  font-size: 35px;
  cursor: pointer;
}
header nav i:hover {
  transform: scale(1.2);
}

#hero {
  width: 100%;
  background-color: var(--body-bg);
  background: url(../images/bg.png) center center no-repeat;
  background-size: cover;
  padding-block: 170px;
  position: relative;
}
@media (max-width: 768px) {
  #hero {
    padding-block: 120px 200px;
  }
}
#hero .pt-abso {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
@media (max-width: 768px) {
  #hero .pt-abso {
    max-width: 13rem;
    opacity: 0.8;
  }
}
#hero .container {
  z-index: 5;
}
#hero .container h1.title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 768px) {
  #hero .container h1.title {
    font-size: 48px;
    line-height: 120%;
  }
}
#hero .container p.info {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  max-width: 600px;
}
#hero .container .hero-btn a.buy-btn:first-child {
  color: #030305;
}
#hero .container .hero-btn a.buy-btn:last-child {
  background-color: transparent;
  color: var(--second);
}

main {
  width: 100%;
}
main #about {
  width: 100%;
  background-color: var(--body-bg);
  padding-block: 50px;
}
main #about h2.head {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 180%;
  color: #ffffff;
}
main #about h1.title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 120%;
  color: #ffffff;
}
@media (max-width: 700px) {
  main #about h1.title {
    font-size: 48px;
    line-height: 120%;
  }
}
main #about .inrow div {
  height: 72px;
  filter: drop-shadow(0px 4px 8px rgba(9, 50, 67, 0.16));
  background-color: var(--second);
}
main #about .inrow div p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 180%;
  color: #081f28;
}
main #about .inrow div:before {
  content: "";
  position: absolute;
  width: 9px;
  height: 72px;
  left: 0;
}
main #about .inrow .d1:before {
  background: #ea4335;
}
main #about .inrow .d2:before {
  background: #35ea47;
}
main #about .inrow .d3:before {
  background: #9a35ea;
}
main #tokenomics {
  width: 100%;
  padding-block: 50px;
}
main #tokenomics h2.head {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 180%;
  color: #ffffff;
}
main #tokenomics h1.title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 120%;
  color: #ffffff;
}
@media (max-width: 700px) {
  main #tokenomics h1.title {
    font-weight: 600;
    font-size: 32px;
    line-height: 180%;
  }
}
main #tokenomics ul li {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #ffffff;
}
@media (max-width: 700px) {
  main #tokenomics ul li {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }
}
main #tokenomics ul li:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  z-index: 2;
}
main #tokenomics ul li:nth-child(1):before {
  background: #0062ff;
}
main #tokenomics ul li:nth-child(2):before {
  background: #ffd200;
}
main #tokenomics ul li:nth-child(3):before {
  background: #c4c4c4;
}
main #tokenomics ul li:nth-child(4):before {
  background: #2bbf7f;
}

footer {
  width: 100%;
  padding-block: 50px;
}
footer .cpy {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #ffffff;
}
footer a {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
footer i {
  font-size: 25px;
}/*# sourceMappingURL=style.css.map */